body{
    margin:0;
    background-color: rgb(233, 233, 233);
    color:#000000;
    width: 100%;
  box-sizing: border-box;
}


.topnav{
    background-color: #BEE3DB;
    overflow: hidden;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.topnav a{
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;

  }
  .topnav a:hover{
    background-color: #3E92CC;
    color:#fff;
    border-radius: 12px;
  }
  

.nav-link{
    color:#000;
    font-weight: 400;
    margin-top:4px;
    
}



.nav > .d-flex > .active { 
    background-color: #3E92CC ; 
}


.container-fluid{
    margin-top: 3%;
    padding-top: 5%;
}


.img-fluid{
    width:50%;
    margin-left:2%;
    border-radius: 10%;

}

.texto{
margin-right:2%;
position: relative;
font-size:25px ;

}

.btn{
    background-color: #2A628F;
    
}

.iconos{
    height:15%;
    width: 15%;
    

}

.imagenes-iconos{
    margin-top:7%;
    text-align: center;


    
}
.card{
  background-color:#3e92cc ;
  color: white;

  border:2px solid black;
  margin-left: 2%;
  margin-right: 2%;
}

.imagenes-contacto{
  justify-content: center;
  margin-bottom: 5%;

}

.imagenes-contacto a{
  justify-content: center;
  width:20%;
  text-align: center;

}

.iconos-contacto{
  
  width:10rem;
}

  @media screen and (max-width: 600px) {

    .texto{
      font-size:15px ;
  
    }
    .container-fluid{
      margin-top: 40px;
      
    }

    .habilidades{
      width:100%;
    }
    .card{
      width:100%;

    }
    .iconos-contacto{
  
      width:5rem;

    }
    .img-fluid{
      width:100%;

  
  }

    #sobremi{
      margin-top:15%;
    }

  }



  /* The sticky class is added to the navbar with JS when it reaches its scroll position */

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
  }
  
#proyectos{
  padding-top:3%;
}


